/*mobile*/
@media screen and (max-width:767px){
    #header_logo{
        display: flex;
        align-items: center;
        justify-content: center;  
        position: relative; 
        @include box-shadow;
        & img{
        margin: 30px auto 20px;
        width: 250px;
        text-align: center;
        }
    }
    .city{
        display: flex;
        align-items: center;
        justify-content: center; 
        gap: 25px;
        background-color: #f3f3f3;
        padding: 20px;
        & .city_icon{
            font-size: 25px;
        }
        & .city_text{
            font-size: 25px;
            font-weight: 700;
        }
    }
    .reservation{
        padding: 20px;
        text-align: center;
        background-color: #fafafa;;
        & .reservation_btn{
            background-image: linear-gradient(to left, $colour-primary, $colour-secondary);
            font-weight: 500;
            padding: 20px;
            border: none;
            border-radius: 25px;
            color: white;
            @include box-shadow;
            transition-duration: 0.25s;
            &:hover{
                @include zoom;
                cursor: pointer;
            }    
        }
    }
    .tuto{
        counter-reset: steps;
        & .tuto_title{
            padding-left: 20px;
        }
        & .tuto_steps{
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;
            padding-left: 5px;
        }   
        & .tuto_step{
            position: relative;
            &::before{
                content: counter(steps);
                counter-increment: steps;
                background-color: $colour-primary;
                color: #fff;;
                border-radius: 50%;
                padding: 5px 8px;
                font-size: small;
                position: absolute;
                left: -2px;    
            }
            list-style-type: none;
            background-color: #fafafa;;
            border-radius: 25px;
            width: 93%;
            transition-duration: 0.25s;
            padding: 26px;
            gap: 50px;
            @include box-shadow;
            &:hover{
                @include zoom;
                cursor: pointer;
                color: $colour-primary;
            }      
        }     
        & .tuto_icon{
            margin: 3px 9px;
            color:  #7e7e7e;
        }
    }    
}