@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&family=Shrikhand&display=swap");
@-webkit-keyframes check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes submenu-animated {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes submenu-animated {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.9;
  -webkit-animation: loader 200ms 2s forwards;
          animation: loader 200ms 2s forwards;
  transform-origin: top;
}
.loader::after {
  content: "";
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
  height: 100px;
  width: 100px;
  border-right: 5px solid transparent;
  border-top: 5px solid #9356DC;
  border-radius: 50%;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.logo {
  font-family: "Shrikhand", "cursive";
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  padding-left: 20px;
}

/*header*/
header {
  box-shadow: 0 3px 3px lightgrey;
  padding: 7px;
  position: relative;
}
header .header__logo {
  text-align: center;
  margin: 10px auto;
}

/*header mobile*/
@media screen and (max-width: 767px) {
  header {
    padding-bottom: 3px;
  }
}
/*paris,belleville */
.city {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  text-align: center;
  /*padding: 20px;*/
}
.city .city_icon {
  font-size: 20px;
  padding: 0 10px;
}
.city .city__text {
  font-size: 20px;
  font-weight: 700;
}

/* bouton explorer*/
.explorer {
  text-align: center;
  background-color: #f6f6f6;
  padding: 20px 0;
}
.explorer .explorer__btn {
  font-weight: 500;
  font-size: 18px;
  padding: 13px 30px;
  border: none;
  border-radius: 25px;
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.125);
  background-image: linear-gradient(to left, #9356DC, #FF79DA);
  transition: all 0.25s;
}
.explorer .explorer__btn:hover {
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}

/*Fonctionnement*/
.tuto {
  counter-reset: steps;
}
.tuto .tuto__steps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-left: 0px;
}
@media screen and (max-width: 767px) {
  .tuto .tuto__steps {
    padding-left: 0;
    flex-direction: column;
  }
}
@media screen and (max-width: 991px) {
  .tuto .tuto__steps {
    flex-direction: column;
  }
}
.tuto .tuto__steps .tuto__step {
  position: relative;
  background-color: #f6f6f6;
  padding: 25px;
  border-radius: 25px;
  list-style-type: none;
  flex-grow: 1;
  margin: 10px auto;
  transition-duration: 0.25s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.125);
}
@media screen and (max-width: 991px) {
  .tuto .tuto__steps .tuto__step {
    width: 90%;
    margin: auto;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .tuto .tuto__steps .tuto__step {
    margin: 10px 12px;
  }
}
.tuto .tuto__steps .tuto__step::before {
  content: counter(steps);
  counter-increment: steps;
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: small;
  position: absolute;
  left: -3px;
}
.tuto .tuto__steps .tuto__step:hover {
  transform: scale(1.01);
  cursor: pointer;
}
.tuto .tuto__steps .tuto__step .tuto__icon {
  margin: 3px 15px;
  color: #7e7e7e;
}

/*Restaurant*/
.restaurants {
  background-color: #f6f6f6;
  padding: 29px 0;
}
.restaurants .restaurants_title {
  padding-left: 20px;
}
.restaurants .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  flex-basis: 50%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurants .cards {
    margin: 19px;
  }
}
.restaurants .cards .card {
  position: relative;
  background-color: white;
  border-radius: 25px;
  width: 48%;
  height: 250px;
  margin: auto;
}
@media screen and (max-width: 991px) {
  .restaurants .cards .card {
    width: 100%;
    margin: 10px 20px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .restaurants .cards .card {
    padding: 0 10px;
  }
}
.restaurants .cards .card img {
  width: 100%;
  height: 170px;
  border-radius: 25px 25px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .cards .card h3, .restaurants .cards .card p {
  padding-left: 20px;
  margin: 10px;
}
.restaurants .cards .card::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "";
  font-size: 28px;
  position: absolute;
  right: 25px;
  bottom: 25px;
  transform: translate(-50%);
  color: inherit;
  background-clip: content-box;
  -webkit-background-clip: content-box;
  opacity: 1;
  transition: all 200ms;
}
.restaurants .cards .card::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "";
  font-size: 28px;
  position: absolute;
  right: 25px;
  bottom: 25px;
  transform: translate(-50%);
  color: inherit;
  background-clip: content-box;
  -webkit-background-clip: content-box;
  opacity: 1;
  transition: all 200ms;
  background-image: linear-gradient(to left, #9356DC, #FF79DA);
  opacity: 0;
  font-weight: 900;
  color: transparent;
}
.restaurants .cards .card:hover::after {
  opacity: 1;
  transform: translate(-50%) scale(1.1);
}
.restaurants .card--new {
  position: relative;
}
.restaurants .card--new .new {
  background-color: #99E2D0;
  padding: 5px 10px;
  position: absolute;
  left: 468px;
  top: 25px;
  color: #1b6150;
}
@media screen and (max-width: 375px) {
  .restaurants .card--new .new {
    left: 192px;
  }
}
@media screen and (min-width: 376px) and (max-width: 767px) {
  .restaurants .card--new .new {
    left: 289px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurants .card--new .new {
    left: 564px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .restaurants .card--new .new {
    left: 389px;
  }
}

.footer {
  background-color: #353535;
  color: white;
  padding: 20px 0;
  font-size: 18px;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 20px 30px;
  }
}
.footer .footer__list {
  list-style-type: none;
  padding-left: 0px;
}
.footer .footer__list a:hover {
  text-decoration: underline;
}
.footer .footer__list .footer__listElt {
  padding-bottom: 10px;
}

.container {
  max-width: 1250px;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    margin: auto;
  }
}

.logo__icon a {
  position: absolute;
  top: 35%;
  left: 30px;
  font-size: 20px;
}

.menu__img img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 991px) {
  .menu__img img {
    height: 338px;
  }
}

.menu .menu__container {
  margin-top: -100px;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  border-radius: 30px 30px 0 0;
}
.menu .menu__header {
  padding: 20px 25px;
  margin: 0;
  position: relative;
  font-family: "Shrikhand", "cursive";
}
.menu .menu__header::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "";
  font-size: 28px;
  position: absolute;
  right: 25px;
  bottom: 25px;
  transform: translate(-50%);
  color: inherit;
  background-clip: content-box;
  -webkit-background-clip: content-box;
  opacity: 1;
  transition: all 200ms;
}
.menu .menu__header::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "";
  font-size: 28px;
  position: absolute;
  right: 25px;
  bottom: 25px;
  transform: translate(-50%);
  color: inherit;
  background-clip: content-box;
  -webkit-background-clip: content-box;
  opacity: 1;
  transition: all 200ms;
  background-image: linear-gradient(to left, #9356DC, #FF79DA);
  opacity: 0;
  font-weight: 900;
  color: transparent;
}
.menu .menu__header:hover::after {
  opacity: 1;
  transform: translate(-50%) scale(1.1);
}
.menu .submenu {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .menu .submenu {
    flex-direction: column;
  }
}
.menu .submenu .diff__submenu {
  flex-basis: 42%;
  padding: 0 11px;
}
.menu .submenu .diff__submenu h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
.menu .submenu .diff__submenu h3::after {
  content: "";
  height: 3px;
  width: 53px;
  background-color: #99E2D0;
  position: absolute;
  bottom: -3px;
  left: 0;
}
.menu .submenu .diff__submenu .delay-1 {
  -webkit-animation: submenu-animated 1000ms 100ms;
          animation: submenu-animated 1000ms 100ms;
}
.menu .submenu .diff__submenu .delay-2 {
  -webkit-animation: submenu-animated 1000ms 250ms;
          animation: submenu-animated 1000ms 250ms;
}
.menu .submenu .diff__submenu .delay-3 {
  -webkit-animation: submenu-animated 1000ms 450ms;
          animation: submenu-animated 1000ms 450ms;
}
.menu .submenu .diff__submenu .delay-4 {
  -webkit-animation: submenu-animated 1000ms 650ms;
          animation: submenu-animated 1000ms 650ms;
}
.menu .submenu .diff__submenu .submenu__title {
  display: flex;
  justify-content: space-around;
  margin: 16px auto;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.125);
}
.menu .submenu .diff__submenu .submenu__title .submenu__description {
  margin-right: auto;
  padding: 15px 10px 15px 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .submenu .diff__submenu .submenu__title .submenu__description p, .menu .submenu .diff__submenu .submenu__title .submenu__description h4 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .submenu .diff__submenu .submenu__title .submenu__price {
  font-weight: 900;
  display: flex;
  align-items: flex-end;
  padding: 15px 10px 15px 0;
}
.menu .submenu .diff__submenu .submenu__title .submenu__clic {
  background-color: #99E2D0;
  margin-right: -50px;
  width: 50px;
  border-radius: 0 15px 15px 0;
  transition: margin-right 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .submenu .diff__submenu .submenu__title .submenu__clic i.fas.fa-check-circle {
  color: white;
  font-size: 30px;
}
.menu .submenu .diff__submenu .submenu__title:hover .submenu__clic {
  margin-right: 0;
  -webkit-animation: check 1s;
          animation: check 1s;
}
.menu .explorer--order {
  padding: 57px;
}/*# sourceMappingURL=main.css.map */