@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&family=Shrikhand&display=swap");

*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto",sans-serif;
    margin:0;
}
.logo{
    font-family: "Shrikhand","cursive";
}
.container{
    width: 80%;
    margin: auto;
}


