.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 1;
    opacity: 0.8;
    animation: loader 200ms 3s forwards;
    transform-origin: top;
    i{
        animation: spin 3s infinite linear;
    }
}
/*paris,belleville */
.city{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    text-align: center;
    padding: 20px;
    & .city_icon{
        font-size: 20px;
        padding: 0 10px;
    }
    & .city__text{
        font-size: 20px;
        font-weight: 700;
    }
}
/* bouton explorer*/ 
.explorer{
    text-align: center;
    background-color:#f6f6f6;
    padding: 20px 0;
    & .explorer__btn{
        @include button;
        &:hover{
            @include zoom;
            cursor: pointer;
            box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
            opacity: 0.9;
        } 

    }
}
/*Fonctionnement*/ 
.tuto{
    counter-reset: steps;
    & .tuto__steps{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-left: 0px;
        @media screen and (max-width:767px){
            padding-left: 0;
            flex-direction: column;
        }
        @media screen and (max-width:991px){
            flex-direction: column;
            
        }
        & .tuto__step{
            position: relative;
            background-color: #f6f6f6;
            padding: 25px;
            border-radius: 25px;
            list-style-type: none;
            flex-grow: 1;
            margin: 10px auto;
            transition-duration: 0.25s;
            @include base-shadow;
            @media screen and (max-width:991px){
                width: 90%;
                margin: auto;
            }
            @media screen and (min-width:992px) and (max-width:1024px){
                margin: 10px 12px;
            }
            &::before{
                content: counter(steps);
                counter-increment: steps;
                background-color: $colour-primary;
                color: #fff;;
                border-radius: 50%;
                padding: 5px 8px;
                font-size: small;
                position: absolute;
                left: -3px;    
            }
            &:hover{
                @include zoom;
                cursor: pointer;
            }
            & .tuto__icon{
                margin: 3px 15px;
                color:  #7e7e7e;
            } 
        }
    }
}
/*Restaurant*/
.restaurants{
    background-color:#f6f6f6;
    padding: 29px 0;
    & .restaurants_title{
        padding-left: 20px;
    }
    & .cards{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        flex-basis:50%;
        @media screen and (min-width:768px) and (max-width:991px){
            margin: 19px;
        }
        & .card{
            position: relative;
            background-color: white;
            border-radius: 25px;
            width: 48%;
            height: 250px;
            margin: auto;
            @media screen and (max-width:991px){
                width: 100%;
                margin: 10px 20px;
            }
            @media screen and (min-width:992px) and (max-width:1024px){
                padding: 0 10px;
            }
            & img{
                width: 100%;
                height: 170px;
                border-radius: 25px 25px 0 0;
                object-fit: cover;
            }
            & h3,p{
                padding-left: 20px;
                margin: 10px;
            }
            @include heart-animated;   
        }
    }
    & .card--new{
        position: relative;
        & .new{
            background-color: $colour-tertiary;
            padding: 5px 10px;
            position: absolute;
            left: 468px;
            top: 25px;
            color: #1b6150;
            @media screen and (max-width:375px){
                left: 192px;
            }
            @media screen and (min-width:376px) and(max-width:767px){
                left: 289px;
            }
            @media screen and (min-width:768px) and (max-width:991px){
                left: 564px;
            }
            @media screen and (min-width:992px) and (max-width:1024px){
                left: 389px;
            }
        }
    }

} 
