.footer{
    background-color: #353535;
    color: white;
    & #footer__logo{
        font-family: "Shrikhand","cursive";
        padding-left: 38px;
    }
    & .footer__list{
        list-style: none;
        & .footer__listElt{
            color: inherit;
            text-decoration: none;
        }
    
    }
   
}
@media screen and (max-width: 767px){

}